@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// Set your brand colors
$mostard: #E1AD01;
$lavanda: #C8ADDB;
$greenish: #74A88A;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$gray-light: #E1D8C8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $gray-light;
$primary: $lavanda;
$success:$greenish; 
$link: $brown;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white ; //$beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// @import "../bulma/bulma.sass";

// Import only what you need from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/layout/hero.sass";
@import "../bulma/sass/layout/section.sass";

.layout {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh auto 10vh;

    max-width: 1500px;
    margin: 1vh auto;
    height: 95vh;

    .header {
        display:flex ;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        .icon {
            margin-left: auto;
            margin-right: 30%;
            padding: 0.9rem;
            color: $lavanda;
        }
        .nav {
            height: 100%;
            display: flex;
            align-items: end;

            .navbar {
                display: flex;
                flex-flow: row wrap;
                align-content: center;

                .navbar__item {
                    padding: 0.4rem;
                }
            }
        }

    }

    .aside {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-right: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        .vertical {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }

    .main {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
    }

    .footer {
        grid-column: 2 / -1;
        grid-row: 3 / 4;
    }
}




.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;

    .image {
        //overflow:hidden;

        &:hover {

            img {
                transform: scale(1.1);
            }

        }

        img {
            transition: transform .5s ease;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            max-height: 100%;
        }
        
    }
}

/*
.aside {
    
}

.header {
    height: 40vh;
}

.to_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav {
    flex:0 0 100% ;
    .navbar {
        display: flex;


        .navbar__item {
            padding: 0 1rem;
        }
    }
}
*/
.brand .title:hover {
    color: $lavanda !important;

}

[class*="navbar__item"]:hover a{
    color: $lavanda !important;
}

